<?php 
    $this->view('home/cabecario'); 
    ?>
<!-- Navigation-->
<?php
            $this->view('home/menu'); 
            ?>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Alice
                <span class="text-primary">Alves</span>
            </h1>
            <div class="subheading mb-5">
                <a href="mailto:name@email.com">alicealve065@gmail.com</a>
            </div>
            <p class="lead mb-5">
                Trabalho com telemarketing vendas e leciono na escola dominical
                da minha igreja aos domingos para as crianças. Atualmente
                aprendendo os segredos da programação!
            </p>
            <div class="social-icons">
                <a class="social-icon" href="#"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="social-icon" href="#"
                    ><i class="fab fa-github"></i
                ></a>
                <a class="social-icon" href="#"
                    ><i class="fab fa-twitter"></i
                ></a>
                <a class="social-icon" href="#"
                    ><i class="fab fa-facebook-f"></i
                ></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experiência</h2>
            <div
                class="d-flex flex-column flex-md-row justify-content-between mb-5"
            >
                <div class="flex-grow-1">
                    <h3 class="mb-0">Atendente Junior Telemarketing</h3>
                    <div class="subheading mb-3">VGX</div>
                    <p>
                        Realizar chamadas para usuários, oferecendo serviços
                        seguindo roteiros e scripts planejados e controlados
                        para captar clientes.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">Agosto 2020 - Presente</span>
                </div>
            </div>
            <div
                class="d-flex flex-column flex-md-row justify-content-between mb-5"
            >
                <div class="flex-grow-1">
                    <h3 class="mb-0">Babá</h3>
                    <div class="subheading mb-3">Família Santos</div>
                    <p>Zelar pelo bem estar da criança.</p>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary"
                        >Dezembro 2019 - Outubro 2020</span
                    >
                </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Educação</h2>
            <div
                class="d-flex flex-column flex-md-row justify-content-between mb-5"
            >
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        Escola Estadual Professor Alcides de Carvalho
                    </h3>
                    <div class="subheading mb-3">Ensino Médio</div>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary"
                        >Fevereiro 2013 - Dezembro 2015</span
                    >
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Prepara Cursos</h3>
                    <div class="subheading mb-3">Recursos Humanos</div>
                    <p>Excel, Word e Power Point 2013</p>
                    <p>Assistente de Departamento Pessoal</p>
                    <p>Liderança</p>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">Agosto 2017 - Julho 2018</span>
                </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Divina Providência</h3>
                    <li class="subheading mb-3">Auxiliar Administrativo</li>
                    <p><span class="text-primary">Outubro 2019 - Dezembro 2019</span></p>
                    <p><li>Informática</li></p>
                    <spam class='text-primaary'>Fevereiro 2020 - Julho 2020</spam>
                    
                </div>
                <div class="flex-shrink-0">
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Habilidades</h2>
            <div class="subheading mb-3">Vendas</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">Comunicação<i class="fab fa-html5"></i></li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt">Disciplina</i>
                </li>
                <li class="list-inline-item">
                    Compreensão das necessidades do cliente<i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">Flexibilidade<i class="fab fa-angular"></i></li>
                <li class="list-inline-item">Escutar<i class="fab fa-react"></i></li>
                
            </ul>
            
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <?php 
                    $this->view('home/form'); ?>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Prêmios e Certificações</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech
                    Competition 2009
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam
                    2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech
                    Competition 2008
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"
                        ><i class="fas fa-trophy text-warning"></i
                    ></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section>
</div>

<?php 
    $this->view('home/rodape'); ?>
